{% extends "app/base.html" %}

{% block content %}

{% load static %}

<style>
    .image-thumbail {
        height: 200px;
        object-fit: cover;
    }

    .list-group-item a {
        text-decoration: none;
        color: black;
    }
    .left-align {
  text-align: left;
}
</style>

    &nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                
                <div class="card">
                    <div class="card-header">
                        Galería
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}" class="btn btn-outline-dark btn-sm m-1">Toda la galería</a>
                        </li>
                        <div class="card-header">
                            Categorias
                        </div>
                        {% for category in categories %}
                        <div >
                            <br>
                        </div>
                        <li class=" list-group-item">

                            <a  href="{% url 'gallery' %}?category={{category.name}}" class="btn btn-outline-dark btn-sm m-1"> {{category.name}}</a>
                            
                            <a href="{% url 'Delete_Category' category.id %}" class="btn btn-outline-dark btn-sm m-1">Eliminar</a> 
                            
                        </li>
                        {% endfor %}


                        <a href="{% url 'add' %}" class="btn btn-dark btn-block btn-sm m-1"> Agregar una foto</a>
                        
                        
                    </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row">

                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbail" src="{{photo.image.url}}" alt="Card image cap">

                            <div class="card-body">
                                <small>Category: {{photo.category.name}}</small>
                            </div>
                            <a href="{% url 'photo' photo.id %}" class="btn btn-outline-dark btn-sm m-1">Vista</a>
                            <td><a href="/Delete_Image/{{photo.id}}/" class="btn btn-outline-dark btn-sm m-1">Eliminar</a></td>

                        </div>
                    </div>
                    {% empty %}
                    <h3> No hay fotos en la galería, sube tu primera foto: </h3>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}